main > .container {
  padding: 60px 15px 0;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}



.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


.msg-creado {
    color: green;
    border-style: solid;
    border-color: green;
    padding: 1.0rem;
    width: 200px;
    text-align: center;
    
}

.msg-editado {
    color: orange;
    border-style: solid;
    border-color: orange;
    padding: 1.0rem;
    width: 200px;
    text-align: center;
    
}
.msg-borrado {
    color: red;
    border-style: solid;
    border-color: red;
    padding: 1.0rem;
    width: 200px;
    text-align: center;
    
}

