<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
    <head>
        <meta charset="UTF-8">
        <title>Iniciar Sesión</title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
        <link rel="stylesheet" href="/css/signin.css" type="text/css" />
        <link href="/img/favicon.jpg" rel="icon" type="image/jpg" />
    </head>
    <body class="text-center">
    	<div class="container">	

	        <div th:if="${param.error}">Usuario o contraseña incorrectos.</div>
	        <div th:if="${param.logout}">Has cerrado sesión.</div>
	
	        <form class="form-signin" th:action="@{/login}" method="post">
		    	<img class="mb-4" src="img/favicon.jpg" alt="" width="72" height="72">
		        <h1 class="h3 mb-3 font-weight-normal">Inicio de Sesión</h1>
	
	            <label class="sr-only" for="username">Nombre de usuario:</label>
	            <input type="text" class="form-control" name="username" id="username" placeholder="Usuario" />
	
	            <label class="sr-only" for="password">Contraseña:</label>
	            <input type="password" class="form-control" name="password" id="password" placeholder="Contraseña"/>
	
	            <input type="submit" value="Ingresar" class="btn btn-sm btn-success" />
	            
	            <a th:href="@{/home}" class="btn btn-sm btn-danger"> Volver</a>
	
	        </form>
        </div>
    </body>
</html>
